@charset "UTF-8";

.container {
    width: 93%;
    margin-left: 3%;
}
.d-flex {
    display: flex;
}
.justify-space-between {
    justify-content: space-between;
}
.heading_header_registration {
    margin-bottom: 1rem;
    padding: 2rem 0;
    background-color: white;
}
.has-shadow {
    box-shadow: 4px 1px 2px 1px rgba(0, 0, 0, 0.05);
}

.text-white {
    color: #fff!important;
}
.bg-secondary {
    background-color: #6c757d!important;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    
}
.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}

.border{
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    width: 8rem !important;
    border-radius: inherit !important;
}
.border input{
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    width: 8rem !important;
    border-radius: inherit !important;
}
.margin-right{
    margin-right: 5rem;
}
.margin-top{
    margin-top: 2rem;
}
.h5,
h5 {
    font-size: 1.75rem;
}