script(src='bower_components/jquery/dist/jquery.min.js')
script(src='js/custom-bootstrap.js')
script(src='bower_components/svg4everybody/dist/svg4everybody.min.js')
script(src='bower_components/select2/select2.min.js')
script(src='js/main.js')
