.monitoring-body-section {
    font-size: 1rem;
}
.psrHeader {
    .slds-truncate {
        font-size: 1rem;
    }
}
.sideBarSection { 
    svg.slds-icon.slds-icon-text-default.slds-icon_xx-small {
        width: 1.2rem;
        height: 1.2rem;
    }  
}
.sideBarSection[c-psrSidebar_psrSidebar] button[c-psrSidebar_psrSidebar] {
    font-size: 1rem;
}
table.slds-table.slds-table_cell-buffer.slds-table_bordered.slds-table_col-bordered.program-info-table {

     border:  1px solid rgba(20, 85, 143, 0.3);
}
.slds-table.program-info-table thead th {

}
h4.header-pane-title {
    color:#105cb1;
}
.lgc-bg[c-eec_DocumentLibrary_Internal_eec_DocumentLibrary_Internal]{
    background: #ffefc0;
    }
.slds-button_brand{
        background:#105cb1;;
}
.slds-table thead th {
        background: #105cb1;
        color:white;
}
.fc-button-primary:disabled {
    color: #fff;
    background-color: #105cb1;
    border-color: none;
}
.requiredNotification {
    h2 {
        font-size: 1.2rem;
        font-weight: bold;
        color:#105cb1;
    }
    li {
        margin-bottom: 16px;
    }
}
.profile {
    h3{
        font-weight: bold;
        font-size: 24px;
        line-height: 33px;
        color: #14558F;
    }
    
    p{
        font-size: 16px;
        line-height: 22px;
        color: #14558F;
    }
    button.slds-button.slds-button_neutral {
        display: flex;
        flex-direction: row;
        border-radius: 5px;
        padding: 3px 30px;
        border: 1px solid var(--blue);
        font-size: 14px;
        color: var(--blue);
    }
    .slds-button.slds-button_brand {
        font-size: 15px;
        border-radius: 8px;
        margin-left: 4rem;
        padding: 3px 30px;

    }
    .slds-form-element__label {
        font-weight: 600;
        font-size: 18px !important;
        line-height: 24px;
        color: #14558F;
    }
    input {
        background: #FFFFFF;
        padding: 5px;
        font-size: 14px;
        border: 1.5px solid rgba(20, 85, 143, 0.3);
        box-sizing: border-box;
        border-radius: 4px;
    }
    .slds-combobox__input {
        background: #FFFFFF;
        padding: 5px;
        font-size: 14px;
        border: 1.5px solid rgba(20, 85, 143, 0.3);
        box-sizing: border-box;
        border-radius: 4px;
        justify-content: left;
    }
}
.sideBarSection {
    .slds-nav-vertical {
        height: calc(100vh - 50px);
        overflow: auto;
    }
}
.new-incident-popup{
    .slds-form-element {
        .slds-form-element__label {
            font-size: 16px !important;
            color: var(--textcolor);
        }
    }
}
.slds-button_outline-brand {
    border-color: #14558F;
    color: #14558F;;
}