.navbar-primary {
    background-color: #115AB1;
    width: 100%;
    border-bottom: 0px solid transparent;
}
.navbar-primary .logo {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media (min-width: 768px) {
    .navbar-primary .container {
        display: flex;
    }
    .navbar-primary nav {
        display: flex;
        align-items: center;
        margin-left: auto;
    }
    .navbar-primary nav a:hover,
    .navbar-primary nav a:active,
    .navbar-primary nav a:focus {
        box-shadow: inset 0 -4px 0 rgba(255,255,255,0.5);
        text-decoration: none;
        color: white;
    }
    .navbar-primary nav a.active {
        box-shadow: inset 0 -4px 0 rgba(255,255,255,0.5);
        text-decoration: none;
        color: white;
        font-weight: 600;
    }
}

.navbar-primary nav a {
    color: rgba(255,255,255,0.7);
    padding: 0 1rem;
    height: 100%;
    display: flex;
    align-items: center;
}