/* New Header */
.header .nav div{
    color: #fff!important;
    width: auto;
  }
  
  .header .logo img{
    height:auto;
  }
  .blueColor{
    background:#14558F!important;
  }
  .languageSelect button,   .languageSelect  .slds-combobox__input{
    background: none!important;
    --sds-c-icon-color-foreground-default: #fff;
  }
  
  .blueColor {
    --sds-c-icon-color-foreground-default: #fff!important
  }
  
 .date__format .lightning-formatted-date-time{
    color:#14558F!important
 }

.header .header-info{
    background:#F3F6F9!important;
    color:#14558F!important
  
  }
  
.header .info__main, .header .info__sub{
    color:#14558F!important
  }

  .userLogin{
    background: none!important;
    --sds-c-icon-color-foreground-default: #fff!important;
  }

  .dateFormate{
    color:#14558F!important
  }
 .header .slds-combobox__input{
    background: none!important;
  }

  .notification{
    --sds-c-icon-color-foreground-default: #fff!important;
    position:relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
  }

  .notification span{
    --sds-c-icon-color-foreground-default: #fff!important;
    position: absolute;
    top: 10px;
    right: 18px;
    width: 8px;
    height: 8px;
    background: green;
    border-radius: 100px;

  }

  .languageSelectOptions{
    background: none;
  }

  .languageSelectOptions .slds-input_faux{
    background: none!important;
    color: #fff!important;
  }