.certification {
	.check-group {
		.box {
			padding:$gap $gap 0;

			background:#f6f6f6;
			border:1px solid #eee;
			.ns-touch span {
				font-size:14px;
			}
		}
	}
	.certify {
		max-width:640px;
		margin:$gap-md 0;
	}
}
