doctype html
html(lang="en")

	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(name='description', content='')

		block title
			title PTP

		include ../partials/stylesheets.jade

		block stylesheets

	body

		include ../partials/header.jade

		.page
			block content

		block footer

		include ../partials/scripts.jade
		block scripts
